.flexcontainer{
  display: flex;
  justify-content: flex-start;
}


.Large-video{
  display: flex;
  flex-direction: column;
}

.Large-video video{
  width: 160%;
  height: auto;
}

.Small-video{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Small-video video{
  width: 40%;
  height: auto;
}
 
